body {
  background-color: rgb(22, 22, 48);
}

#canvas {
  width: 512px;
  height: 512px;
  background-color: antiquewhite;
  margin: 0 auto;
}

.cell {
  background-color: darkcyan;
  float: left;
}

.hoverColor {
  background-color: black;
}
